@font-face {
    font-family: "Raleway Regular";
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway Bold";
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    font-family: "Raleway Regular";
}

/*      NAVBAR      */
.navbar {
    background-color: rgb(20, 25, 45);
}

.nav-link {
    color: rgb(217, 0, 98);
    font-size: 1.1rem;
    font-family: "Raleway Bold";
}

.navbar .nav-link.active {
    color: white;
}

.navbar a.nav-link:hover {
    color: white;
    background-color: rgba(217, 0, 98, 1);
}

/*      CONTAINER CARDS     */
.bg-card-main {
    background-color: rgb(80, 20, 100);
}

/*      FOOTER      */
.footer-bg-color {
    background-color: rgb(20, 25, 45);
}

footer i.bi {
    color: rgba(80, 158, 227, 1);
}

footer i.bi:hover {
    color: rgba(217, 0, 98, 1);
}

/*      COMENCEMOS PAGE         */
span {
    color: rgba(217, 0, 98, 1);
}

p a {
    color: rgb(80, 157, 227);
}

p a:hover {
    color: rgba(217, 0, 98, 1);
}

.bg-color-main {
    rgba(245, 245, 245, 0.75);
}

/*      LOGIN INDEX     */

.btn-Login {
    background-color: rgb(20, 25, 45);
    color: white;
}

/*      MEDIA QUERIES Mobile First Default Bootstrap

X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/
